<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
 
</head>
<body>
	<h1>New book</h1>
	<div>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
			<input type="text" th:field="*{author}" class="form-control"
				placeholder="Author" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" th:field="*{title}" class="form-control"
				placeholder="Title" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" th:field="*{isbn}" class="form-control"
				placeholder="ISBN" />
			<div style="clear: both; display: block; height: 10px;"></div>	
			<input type="text" th:field="*{year}" class="form-control"
				placeholder="Year" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="btn btn-success" value="Save"></input>
		</form>
	</div>
</body>
</html>